<ion-header>
  <ion-toolbar>
    <ion-title>StockWatch</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="window">
    <div class="title-bar">
      <span class="title">Alerts</span>
      <div class="window-controls">
        <button class="control-button">_</button>
        <button class="control-button">□</button>
        <button class="control-button">X</button>
      </div>
    </div>
    <div class="content">
      <ion-list>
        <ion-item *ngFor="let alert of alerts">
          <ion-label>
            {{ alert.stock_symbol }} - Target Price: {{ alert.target_price }}
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
